//canvas { opacity: 0.0;}

@font-face {
font-family: 'LCD-7';
 src: url('/LCD-7.ttf')
}

 
.xtouchbackground {
background-image: url('/pannel.png');
background-repeat: no-repeat;
background-position: center;
background-size: 1024px 786px ;
opacity: 1.0;
position: absolute;

}


.text-input{
	font-family: 'LCD-7';
	position: absolute;
	opacity: 1.0;
	border: none;
position: absolute;

}
	
.fader {
	border: none;
--alpha-fill-on: none;
//--alpha-fill-off: none;
//--alpha-stroke: none;
--color-text: none;
--color-widget: none;
--color-fill: none;
--line-width: none;
//background-image: url('/faderknob.png');
background-repeat: no-repeat;
background-position: center;
background-size: 25px 50px ;
position: absolute;	
}

.faderknob {
	border: none;
left: 0;
right: 0;
height: 66px;
background-image: url('./images/faderknob.png');
background-repeat: no-repeat;
background-position: center;
background-size: 33px 66px ;
position: absolute;	
z-index: 1;
pointer-events: none;
}

.buttonspecial,
.button {
border: none;
--alpha-fill-on: none;
//--alpha-fill-off: none;
//--alpha-stroke: none;
--color-text: none;
--color-widget: none;
--color-fill: none;
--line-width: none;
background-image: url('/blackbutton.png');
background-repeat: no-repeat;
background-position: center;
background-size: 70px 52px ;
position: absolute;		
}

.buttonspecial.on,
.button.on {
background-image: url('/blackbuttonon.png');	
}